

.containerr{
    margin: 0 !important;
    padding: 1em 0 1em 0!important;
}
.logo{
    padding: 0!important;
    margin: 0!important;
}
.Button:focus{
    outline: none !important;
}
.Button{
    outline: none !important;
    background-color: white;
    border: 0;
}
.Button:hover{
    outline: none;
    background-color: none;
}
.Btton{
    width: 2.5em;
}